
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    color: #222;
}

header {
    background-color: #222;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 40px;
}

header p {
    font-size: 18px;
}


nav {
    background-color: #333;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 17px;
}

nav a:hover {
    color: #00bcd4;
}


section {
    width: 90%;
    margin: 20px auto;
    padding: 25px;

    background-color: white;

    border: 1px solid #ddd;
    border-radius: 8px;
}

section h2 {
    margin-top: 0;
}

.skills-container {
    display: flex;

    justify-content: center;

    align-items: stretch;

    gap: 20px;

    flex-wrap: wrap;
}

.skill-card {
    width: 200px;

    padding: 20px;

    text-align: center;

    background-color: #f9f9f9;

    border: 1px solid #ddd;

    border-radius: 10px;

    transition: 0.3s;
}

.skill-card:hover {
    transform: translateY(-5px);
}

section a {
    color: #0066cc;
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}
input,
textarea {
    width: 100%;
    max-width: 500px;

    padding: 10px;

    border: 1px solid #ccc;

    border-radius: 5px;

    font-size: 16px;
}


button {
    padding: 10px 25px;

    background-color: #222;

    color: white;

    border: none;

    border-radius: 5px;

    cursor: pointer;

    font-size: 16px;
}

button:hover {
    background-color: #444;
}


footer {
    background-color: #222;

    color: white;

    padding: 20px;

    text-align: center;

    margin-top: 30px;
}

@media (max-width: 600px) {

    header h1 {
        font-size: 30px;
    }

    nav a {
        display: block;
        margin: 10px;
    }

    section {
        width: 95%;
    }

    .skill-card {
        width: 100%;
    }
}